body {
    background: black;
    color: white;
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: cyan;
}

input, select, button {
    padding: 10px;
    margin: 10px;
    width: 220px;
}

button {
    background: lime;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: orange;
}

h2 {
    color: yellow;
}
